body {
  margin: 0;
  padding: 0;
  background: #000;
  font: 12px/20px '-apple-system', Arial, BlinkMacSystemFont, Roboto,
    'Helvetica Neue', 'MIcrosoft YaHei', sans-serif !important;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.topic-box {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 999;
  overflow: hidden;
  padding: 8px 24px;
  padding-left: 56px;
  /* border: 1px solid #0cf; */
  background: linear-gradient(
    to left,
    rgba(0, 204, 255, 0.2),
    rgba(0, 204, 255, 0.05),
    rgba(0, 204, 255, 0)
  );
}

.site-title {
  font-size: 32px;
  font-weight: lighter;
  color: #eee;
  text-align: right;
  letter-spacing: 3px;
}

.data-source {
  font-size: 12px;
  color: #ccc;
  text-align: right;
}

.data-source > a {
  text-decoration: none;
  color: #eee;
}

.data-source > a:hover {
  color: #0cf;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.mapboxgl-popup {
  max-width: 400px;
  cursor: crosshair;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: rgba(0, 0, 0, 0);
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
  border-bottom-color: rgba(0, 0, 0, 0);
}

.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  border-right-color: rgba(0, 0, 0, 0);
}

.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  border-left-color: rgba(0, 0, 0, 0);
}

.mapboxgl-popup-content {
  padding: 16px;
  background: rgba(0, 0, 0, 0);
}

.mapboxgl-popup-close-button {
  color: #eee;
  outline: none;
}

.mapboxgl-popup-content > strong {
  color: #fff;
  font-size: 16px;
  text-align: center;
  text-shadow: 0px 0px 14px #000;
}
